.App {
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.content-box-md {
  padding: 40px 0 40px 20px !important;
}

.align-right {
  float: right !important;
  float: inline-end;
}

.lnk-btn {
  text-decoration: none !important;
  color: #000 !important;
  background-color: transparent !important;
}

.lnk-btn:hover {
  text-decoration: solid !important;
  color: #70872B !important;
  background-color: transparent !important;
}

button {
color: #000 !important;
background-color: #D2EF79 !important;
border: none !important;
white-space: nowrap !important;
}

button:hover {
  background-color: #B7D757 !important;
}

#button-tooltip > .tooltip-inner {
  background-color: #515151 !important;
  color: #fff !important;
}

.nowrap {
    width: 100%;
    white-space: nowrap !important;
    overflow-x: auto;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
